@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root {
    --blue: #2980b9;
    --red: tomato;
    --orange: orange;
    --black: #333;
    --white: #fff;
    --bg-color: #eee;
    --dark-bg: rgba(0, 0, 0, .7);
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    --border: .1rem solid #999;
}

* {

    box-sizing: border-box;
    font-family: 'Tilt Neon', cursive;

}

/* html {
    font-size: 62.5%;
    overflow-x: hidden;
} */



#admin {
    max-width: 1200px;
    margin: 0 auto;
}

._admin {
    padding: 2rem;
    font-size: large;
}

.header {
    background-color: #f0ad4e;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header .flex {
    display: flex;
    align-items: center;
    padding: 1.5rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
    color: var(--white);

}


.header .flex {
    margin-right: auto;
    font-size: 2.5rem;
    color: var(--black);
    text-decoration: none;
}

.logo {
    width: 34px;
    height: 34px;
}

.message {
    background-color: var(--blue);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10000;
    border-radius: .5rem;
    background-color: var(--white);
    padding: 1.5rem 2rem;
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
}


.message span {
    font-size: 2rem;
    color: var(--black);
}

.message i {
    font-size: 2.5rem;
    color: var(--black);
    cursor: pointer;
}

.message i:hover {
    color: var(--red);
}


.header .flex .navbar a {
    margin-left: 2rem;
    font-size: 2rem;
    color: var(--black);
    text-decoration: none;
}

.header .flex .navbar a:hover {
    color: var(--white);
}

.header .flex .cart {
    margin-left: 2rem;
    font-size: 2rem;
    color: var(--black);
    text-decoration: none;
}

.header .flex .cart:hover {
    color: var(--white);
}

.add-product-form .btn,
.option-btn,
.delete-btn {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1.7rem;
    padding: 1.2rem 3rem;
    border-radius: .5rem;
    cursor: pointer;
    margin-top: 1rem;
}

.btn:hover,
.option-btn:hover,
.delete-btn:hover {
    background-color: var(--black);
}

.option-btn i,
.delete-btn i {
    padding-right: .5rem;
}

.option-btn {
    background-color: var(--orange);
}

.delete-btn {
    margin-top: 0;
    background-color: var(--red);
}

.header .flex .cart span {
    padding: .1rem .5rem;
    border-radius: .5rem;
    background-color: var(--white);
    color: var(--black);
    font-size: 2rem;
}


.add-product-form {
    max-width: 50rem;
    background-color: var(--bg-color);
    border-radius: .5rem;
    padding: 2rem;
    margin: 0 auto;
    margin-top: 2rem;
}

.add-product-form h3 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: var(--black);
    text-transform: uppercase;
    text-align: center;
}

.add-product-form .box {
    text-transform: none;

    padding: 1.2rem 1.4rem;
    font-size: 1.7rem;
    color: var(--black);
    border-radius: .5rem;
    background-color: var(--white);
    margin: 1rem 0;
    width: 100%;
}


#menu-btn {
    margin-left: 2rem;
    font-size: 3rem;
    cursor: pointer;
    color: var(--black);

}

.display-product-table table {
    width: 100%;
    text-align: center;
}


.display-product-table table thead th {
    padding: 1.5rem;
    font-size: 2rem;
    background-color: var(--black);
    color: var(--white);
}

.display-product-table table td {
    padding: 1.5rem;
    font-size: 2rem;
    color: var(--black);
}

.display-product-table table td:first-child {
    padding: 0;
}

.display-product-table table tr:nth-child(even) {
    background-color: var(--bg-color);
}

.display-product-table .empty {
    margin-bottom: 2rem;
    text-align: center;
    background-color: var(--bg-color);
    color: var(--black);
    font-size: 2rem;
    padding: 1.5rem;
}


.edit-form-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1100;
    background-color: var(--dark-bg);
    padding: 2rem;
    display: none;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
}

.edit-form-container form {
    width: 50rem;
    border-radius: .5rem;
    background-color: var(--white);
    text-align: center;
    padding: 2rem;
}

.edit-form-container form .box {
    width: 100%;
    background-color: var(--bg-color);
    border-radius: .5rem;
    margin: 1rem 0;
    font-size: 1.7rem;
    color: var(--black);
    padding: 1.2rem 1.4rem;
    text-transform: none;
}


.products .box-container {

    display: grid;
    grid-template-columns: repeat(auto-fit, 35rem);
    gap: 1.5rem;
    justify-content: center;
}

.products .box-container .box {
    text-align: center;
    padding: 2rem;
    box-shadow: var(--box-shadow);
    border: var(--border);
    border-radius: .5rem;
}

.products .box-container .box img {
    height: 10rem;
}



.bi {
    vertical-align: -0.125em;
    fill: currentColor;
}

.fs-4 {
    font-size: calc(1.275rem + .3vw) !important;
}

.products .box-container .box h3 {
    margin: 1rem 0;
    font-size: 2.5rem;
    color: var(--black);
}

.products .box-container .box .price {
    font-size: 2.5rem;
    color: var(--black);
}


.shopping-cart {
    position: relative;
    text-align: center;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}
/* .shopping-cart table {
    position: relative;
    height: 100%;
    
} */


.shopping-cart table thead th {
    padding: 1rem;
    font-size: 1rem;
    color: var(--white);
    background-color: var(--black);
}

.shopping-cart table tr td {
    border-bottom: .1rem solid #999;
    padding: 1rem;
    font-size: 1rem;
    color: var(--black);
}

.shopping-cart table input[type="number"] {
    border: var(--border);
    padding: 1rem 1rem;
    font-size: 1rem;
    color: var(--black);
    width: 4rem;
}

.shopping-cart table input[type="submit"] {
    padding: .5rem 1.5rem;
    cursor: pointer;
    font-size: 1rem;
    color: white;
    background-color: #ffc107;
}

.shopping-cart span {
    padding: .1rem .5rem;
    border-radius: .5rem;
    background-color: black;
    color: white;
    font-size: 2rem;
}

.shopping-cart table input[type="submit"]:hover {
    background-color: var(--black);
}

.shopping-cart table .table-bottom {
    background-color: var(--bg-color);
}

.shopping-cart .checkout-btn {
    text-align: center;
    margin-top: 1rem;
}



.simpleModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-cont {
    position: relative;
    color: #f4f4f4;
    margin:40px auto 40px auto ;
    height: 75vh;
    padding:2rem;
    width: 60%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, .17);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
    background-color: white;
}

.closeBtn {
    color: #ccc;
    float: right;
    font-size: 30px;

}

.closeBtn:hover,
.closeBtn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}








.checkout-form form {
    padding: 2rem;
    border-radius: .5rem;
    background-color: var(--bg-color);
}

.checkout-form form .flex {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.checkout-form form .flex .inputBox {
    flex: 1 1 40rem;
}

.checkout-form form .flex .inputBox span {
    font-size: 2rem;
    color: var(--black);
}

.checkout-form form .flex .inputBox input,
.checkout-form form .flex .inputBox select {
    width: 100%;
    background-color: var(--white);
    font-size: 1.7rem;
    color: var(--black);
    border-radius: .5rem;
    margin: 1rem 0;
    padding: 1.2rem 1.4rem;
    text-transform: none;
    border: var(--border);
}

.display-order {
    max-width: 50rem;
    background-color: var(--white);
    border-radius: .5rem;
    text-align: center;
    padding: 1.5rem;
    margin: 0 auto;
    margin-bottom: 2rem;
    box-shadow: var(--box-shadow);
    border: var(--border);
}

.display-order span {
    display: inline-block;
    border-radius: .5rem;
    background-color: var(--bg-color);
    padding: .5rem 1.5rem;
    font-size: 2rem;
    color: var(--black);
    margin: .5rem;
}

.display-order span.grand-total {
    width: 100%;
    background-color: var(--red);
    color: var(--white);
    padding: 1rem;
    margin-top: 1rem;
}

.order-message-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1100;
    background-color: var(--dark-bg);
    width: 100%;
}

.order-message-container::-webkit-scrollbar {
    width: 1rem;
}

.order-message-container::-webkit-scrollbar-track {
    background-color: var(--dark-bg);
}

.order-message-container::-webkit-scrollbar-thumb {
    background-color: var(--blue);
}

.order-message-container .message-container {
    width: 50rem;
    background-color: var(--white);
    border-radius: .5rem;
    padding: 2rem;
    text-align: center;
}

.order-message-container .message-container h3 {
    font-size: 2.5rem;
    color: var(--black);
}

.order-message-container .message-container .order-detail {
    background-color: var(--bg-color);
    border-radius: .5rem;
    padding: 1rem;
    margin: 1rem 0;
}

.order-message-container .message-container .order-detail span {
    background-color: var(--white);
    border-radius: .5rem;
    color: var(--black);
    font-size: 2rem;
    display: inline-block;
    padding: 1rem 1.5rem;
    margin: 1rem;
}

.order-message-container .message-container .order-detail span.total {
    display: block;
    background: var(--red);
    color: var(--white);
}

.order-message-container .message-container .customer-details {
    margin: 1.5rem 0;
}

.order-message-container .message-container .customer-details p {
    padding: 1rem 0;
    font-size: 2rem;
    color: var(--black);
}

.order-message-container .message-container .customer-details p span {
    color: var(--blue);
    padding: 0 .5rem;
    text-transform: none;
}